<%= @game.current_player.name %> vs. <%= @game.enemy_player.name %>
<p><%= @game.enemy_player.name %> HP=<%= @game.enemy_player.hp%></p>

<form action="/attack" method="post">
	<input type="submit" value="attack">
</form>
<form action="/switch" method="post">
	<input type="submit" value="switch">
</form>
